body {
    background-color: white;
    overflow-x: hidden;
    margin: 0 !important;
}

.navbar {
    background-color: black !important;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
    font-size: 5.5vh;
    color: #2e742b !important;
    font-weight: bold !important;
    margin-left: 10px;
    font-weight: 500;
}

.nav-item {
    padding: 15px;
    font-size: 2.5vh;
}

nav .navbar-nav li a {
    color: white !important;
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.nav-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2e742b;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active,
nav .navbar-nav li a {
    color: white;
}

.nav-item:hover:before,
.nav-item:focus:before,
.nav-item:active:before,
nav .navbar-nav li a {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}


/*
.nav-item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.nav-item:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2e742b;
    color: black;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active,
nav .navbar-nav li a {
    color: white !important;
}

.nav-item:hover:before,
.nav-item:focus:before,
.nav-item:active:before,
nav .navbar-nav li a {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
*/

.overtext1,
.overtext2 {
    z-index: 2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 6%;
}

.active {
    background-color: #2e742b;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 3;
}

#Home {
    margin-top: 80px;
}

.home {
    background: linear-gradient(to right, rgba(0, 2.5, 2.5, 0.8), rgba(0, 0, 2.5, 0)), url('../media/poweder2c.jpg') no-repeat;
    background-size: cover;
    overflow-x: hidden;
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
}

.overtext1 {
    color: #2e742b;
    margin-top: 10%;
    font-weight: bold;
}

.overtext2 {
    margin-top: -5%;
}

.home-txt {
    margin-left: 7%;
    z-index: 0;
    position: absolute;
    font-size: 5vh;
    color: antiquewhite;
}

.tag {
    margin-top: -10px;
    background-image: url("../media/dark.jpg");
    max-height: 700px;
    width: 100%;
    min-height: 200px;
    color: white;
    font-size: 2vh;
    background-size: cover;
}

.tag-info {
    padding: 10%;
    margin-left: 20%;
    font-size: 2vh;
}

#Contact,
.infocontact {
    background-color: black !important;
    width: 100%;
    text-align: left;
    color: white;
    padding-top: 30px;
    size: 1.5vh;
    overflow-x: hidden;
}

.desc-info1,
.desc-info2,
.desc-info3,
.desc-info4 {
    margin-top: 5px;
    min-height: 40em;
    color: aliceblue;
}

.desc-text1,
.desc-text3 {
    padding: 10%;
    font-size: 3vh;
    align-items: center;
    text-shadow: 2px 2px black;
}

.desc-text2,
.desc-text4 {
    padding: 10%;
    font-size: 3vh;
    text-shadow: 2px 2px black;
}

.desc-info1,
.desc-info3 {
    background: url("../media/wood2.jpg")no-repeat center center;
    background-size: cover;
}

.desc-info2,
.desc-info4 {
    background: url("../media/dark.jpg")no-repeat center center;
    background-size: cover;
}

.col-sm {
    margin-top: 5em;
}

.col-sm>img {
    height: 100% !important;
    width: 100% !important;
    max-height: 400px;
    /* border-radius: 50%;*/
}

#table-certi {
    color: white;
    background: aliceblue;
}

.table-info {
    background: white;
    font-size: 3.2vh;
    padding: 3%;
}

@media only screen and (min-width: 601px) {
    /*.overtext1 {
        margin-top: -40%;
        margin-left: 20%;
    }
    .overtext2 {
        margin-top: -30%;
        margin-left: 30%;
    }
    #Home>img {
        width: 20%;
        height: 36%;
        margin-left: 42.7%;
        position: absolute;
        z-index: 1;
        margin-top: -40%;
        animation: fadeUpAnimation1 ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-duration: 3s;
    }
    .home-txt {
        font-size: 8vh !important;
        margin-top: -10%;
    }*/
    .tag {
        min-height: 350px;
    }
    .infoc {
        padding-left: 10px;
        font-size: 2vh;
    }
}

@media only screen and (max-width: 600px) {
    /*.overtext1,
    .overtext2 {
        font-size: 10vh !important;
    }
    .overtext1 {
        margin-top: -130%;
        margin-left: 5%;
    }
    .overtext2 {
        margin-top: -110%;
        margin-left: 15%;
    }
    #Home>img {
        width: 37%;
        height: 20%;
        margin-left: 38%;
        position: absolute;
        margin-top: -150%;
        animation: fadeUpAnimation2 ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-duration: 3s;
    }
    .home-txt {
        font-size: 5vh !important;
        margin-top: -40%;
        margin-left: 12%;
    }*/
    .infoc {
        font-size: 1.5vh;
    }
}